<html>

<head>
<title>Myblog登陆</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


<link href="di/css/bootstrap.min.css" rel="stylesheet">
<link href="di/css/signin.css" rel="stylesheet">

</head>

<body>

<div class="signin">
  <div class="signin-head"><img src="di/images/test/4.jpg" alt="" class="img-circle"></div>
  <form class="form-signin" role="form"  method="post">
    <input type="text" class="form-control" name= "name" placeholder="用户名" required autofocus />
    <input type="password" name = "password" class="form-control" placeholder="密码" required />
    <button class="btn btn-lg btn-warning btn-block" type="submit">登录</button>
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> 记住我
    </label>
  </form>
</div>


</body>
</html>
